*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    h2{
        font-size: 24px;
        color: #F9FAF8;
    }
    .nav{
        display: flex;
        gap: 30px;
        margin-right: 10px;
        a{
            font-size: 18px;
            color: #E5E7EB;
            outline:none;
        }
    }
}
#hero{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #1F2937; 
    display: flex;
    justify-content: center;
    align-items: center;
    .text{
        justify-content: center;
        h2{
            font-size: 48px;
            font-weight: bolder;
            color: #F9FAF8;
        }
        p{
            font-size: 18px;
            color: #E5E7EB;
            padding-bottom: 10px;
        }
        button{
            background-color: #3882F6;
            width: 100px;
            height: 30px;
            font-size: 18px;
            color: #E5E7EB;
            border: 0;
            border-radius: 7px;
            padding: auto;
        }
    }
    img{
        margin-left: 10%;
        width: 700px;
        height: 400px;
    }
}
#random{
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h3{
        font-size: 36px;
        font-weight: bolder;
        color: #1F2937;
    }
    .boxes{
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 90px 40px 50px 30px;
        .box{
            display: inline;
            justify-content: space-between;
            img{
                height: 250px;
                border: 4px solid #3882F6;
                border-radius: 7px;
            }
        }
    }
}
#quote{
    padding-top: 7%;
    padding-bottom: 7%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #E5E7EB;
    .quote{
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            font-size: 36px;
            font-weight: lighter;
            font-style: italic;
        }
        h3{
            align-items: flex-end;
            font-size: 24px;
            font-weight: bolder;
            color: #1F2937;
        }
    }
}
#call{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 6%;
    padding-bottom: 6%;
    .container{
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #3882F6;
        width: 1200px;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 7px;
        .box{
            align-content: center;
            flex-direction: column;
            color: #E5E7EB;
            font-size: 22px;
        }
        button{
            width: 120px;
            height: 40px;
            background-color: #3882F6;
            color: #E5E7EB;
            font-weight: bold;
            font-size: large;
            border: 3px solid #E5E7EB;
            border-radius: 7px;
        }
    }
    
}
footer{
    background-color: #1F2937;
    text-align: center;
    align-items: center;
    color: #E5E7EB;
}